body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#bostonmap {
    stroke: black;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    background-color: grey;
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}