body {
     font-family: Arial;
}

 h1, h2 {
     text-align: center;
}

 #bostonmap {
     color: black;
}

 .tooltip {
     position: absolute;
     background-color: grey;
     border: solid;
     border-width: 2px;
     border-radius: 5px;
     padding: 5px;
}

/* 
Referenced w3schools to create .columns and .column-div class styling 
https://www.w3schools.com/howto/howto_css_three_columns.asp 
*/
 .column {
     float: left;
     width: 50%;
}

 .columns-div {
     background-color: white;
}

 .columns-div:after {
     content: "";
     display: table;
     clear: both;
}

/* Jake & Aneek's HW6 */
 #footer {
     text-align: center;
}
 #Acknowledgements {
     display: inline-block;
     text-align: left;
}
 #left_col {
     width: 60%;
}
 #right_col {
     width: 40%;
     justify-content: center;
     align-items: center;
}

 #left_col_1 {
     width: 60%;
     text-align: center;
}
 #right_col_1 {
     width: 40%;
     justify-content: center;
     align-items: center;
}

 #accident_piechart {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80%;
}

/* Referenced: https://www.w3schools.com/css/css3_buttons.asp */ 
.button {
  background-color: #ccc; 
  border: none;
  padding: 3px 5px;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;
}

.button:hover {
  background-color: #2196F3;
  color: white;
}

/* 
Toggle switch CSS
Taken / modified from: https://www.w3schools.com/howto/howto_css_switch.asp
*/ 

.switch input[type="checkbox"] {
  display: none;
}

.switch .slider {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 34px;
  background-color: #ccc;
  height: 18px;
  width: 36px;
  transition: background-color 0.2s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

.switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(18px);
}

/* end of reference for css switch w3 schools */ 